
services:
  gateway:
    image: nginx:latest
    container_name: gateway
    ports:
      - "80:80"                       
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

    depends_on:
      - frontend
      - backend
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    expose:
      - "80"                          
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    container_name: backend
    expose:
      - "8080"                        
    depends_on:
      - mongodb
    environment:
      - URL="mongodb://mongodb:27017/dd_db"  
    restart: always

  mongodb:
    image: mongo:latest
    container_name: mongodb
    expose:
      - "27017"                       
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
